# Node modules
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Android Studio
.idea

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Project-specific
app-example

# Logs
*.log

# Build directories
build/